doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel="stylesheet", href="contact.css")
h2 Contact 
.container
  .contact
    .el
      h3 Addres :
      h5
        | Mecheril house, cmc 5 ,
        br
        |  varandu.p.o, cherthala
    .el
      h3
        | Email : 
        br
        h5 amarnadh6565@gamil.com
    .el
      h3 Phone no : 
      |             +91 7012602654
  .forms
    form(action='')
      ul
        li
          input(type='text' placeholder='Name')
        li
          input(type='text' placeholder='Email')
        li
          input(type='text' placeholder='Phone number')
        li
          input(type='text' placeholder='Message')
        li
          input(type='submit')
