doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='skills.css')
  title Document
.container
  h1 SKILLS
  .skills
    .skill
      img(src='html.png' alt='')
    .skill
      img(src='css.png' alt='')
    .skill
      img(src='nodejs.png' alt='')
    .skill
      img(src='reactjs.jpg' alt='')
